.md-header {
    background-color: #000000;
}
/* obere fusszeile, mit previous und next: */
.md-footer-nav {
    background-color: #000000;
}
/* untere fusszeile, mit social-media-links: */
.md-footer-meta {
    background-color: #000000;
}

/* links im fließtext (mittelteil) haben ein helleres blau und sind unterstrichen (wie auch unten): */
.md-typeset a {
	color: #d92873;
}
.md-typeset a:hover {
	color: #d92873;
}

.md-nav__link {
    color: #d92873;
}

.md-nav__link:hover {
    color: #d92873;
}


/* der aktive link im linken navigationsbereich: */
.md-nav__link--active {
	/*  #536dfe ist die farbe für hover-links: */
	color: #d92873;
	font-weight: bold;
	
}

.md-nav__link--active:hover {
	color: #d92873;
	text-decoration: underline;
}
