.md-header {
    background-color: #000000;
}
/* obere footer area, with previous and next: */
.md-footer-nav {
    background-color: #000000;
}
/* lower footer area, with social-media-links: */
.md-footer-meta {
    background-color: #000000;
}

/* links in pages text */
.md-typeset a {
	color: #d92873;
}
.md-typeset a:hover {
	color: #d92873;
}

.md-nav__link {
    color: #d92873;
}

.md-nav__link:hover {
    color: #d92873;
}


/* active link in nav: */
.md-nav__link--active {
	color: #d92873;
	font-weight: bold;	
}

.md-nav__link--active:hover {
	color: #d92873;
}

.md-search__input {
    background-color: rgba(125, 125, 125, 0.50);
}

.md-search__input:hover {
    background-color: rgba(217, 40, 115, 0.50);
}
